{% comment %}
  header-menu-right.liquid
  引数:
  - menu: linklists オブジェクト
{% endcomment %}

{% if menu != blank %}
  <nav class="header__inline-menu header__inline-menu--right">
    <ul class="list-menu list-menu--inline" role="list">
      {% for link in menu.links %}
        <li>
          <a
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset capitalize"
          >
            {{ link.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
  {% endif %}