/* ========== Base ========== */
.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

:root {
  --font-family-shippori-mincho: "Shippori Mincho", serif;
  --font-famile-marcellus: "Marcellus", serif;

  --font-color-white: rgb(255, 255, 255);
  --font-color-black: rgb(0, 0, 0);
}

/* ========== Header ========== */
.header-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header__heading-link {
  padding: 0;
}

.header .banner__heading {
  font-family: "Shippori Mincho", serif;
  font-size: 40px;
  letter-spacing: 0.1em;
  line-height: 1.5;
}

.header__menu-item {
  padding: 0;
}

.header__menu-item span {
  letter-spacing: 0;
}

.header__inline-menu--left {
  padding-left: 12px;
  padding-right: 31px;
  padding-top: 7px;
}

.header__inline-menu--right {
  padding-left: 59px;
  padding-right: 0;
  padding-top: 7px;
}

.header .list-menu--inline {
  gap: 0 40px;
}

.list-menu--inline li {
  display: flex;
  justify-content: center;
  width: 116px;
}

.header__inline-menu a {
  color: rgb(255, 255, 255);
  font-family: "Marcellus", serif;
  font-size: 16px;
  line-height: 1.5;
}

/* Header icons */
.header__icons {
  gap: 0 20px;
  padding-left: 1px;
  padding-right: 0;
  padding-top: 7px;
}

.header__icon--search {
  width: 20px;
  height: 30px;
}

.header__icon--account {
  width: 18px;
  height: 30px;
}

.header__icon--cart {
  width: 23px;
  height: 30px;
}

.header__icons .svg-wrapper {
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 990px) {
  .header:not(.drawer-menu).page-width {
    padding-left: 0;
    padding-right: 0;
  }

  .header {
    display: flex;
    padding-bottom: 11px;
    padding-left: 0;
    padding-right: 0;
  }
}

/* ========== Hero ========== */
.hero {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.hero__bg {
  height: 768px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: auto;
}

.hero__bg::after {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  inset: 0;
  position: absolute;
  z-index: 1;
}

.hero__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 50%;
  margin-top: 272px;
  position: absolute;
  transform: translate(-50%, 0);
  width: 100%;
  z-index: 2;
}

.hero__content h2 {
  margin-top: 0;
  margin-bottom: 51px;
}

.hero__heading {
  display: flex;
  flex-direction: column;
}

.hero__heading span {
  color: var(--font-color-white);
  display: block;
  font-family: var(--font-family-shippori-mincho);
  font-size: 40px;
  letter-spacing: 0.1em;
  line-height: 1.5;
  text-align: center;
}

.hero__heading .comma {
  display: inline;
  letter-spacing: -0.33em;
}

.hero__heading--pc {
  display: block;
}
.hero__heading--sp {
  display: none;
}

/* Cutom Button */
.custom-btn {
  align-items: center;
  background-color: var(--font-color-white);
  color: var(--font-color-black);
  display: flex;
  font-family: var(--font-famile-marcellus);
  font-size: 16px;
  height: 50px;
  letter-spacing: 0.1em;
  line-height: 1.5;
  justify-content: center;
  position: relative;
  text-decoration: none;
  width: 300px;
}

.custom-btn::after {
  background-color: var(--font-color-black);
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
  content: "";
  height: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 10px;
}

/* ========== Top Products ========== */
.product-card.is-placeholder {
  opacity: 0.5;
}

.product-card__image.placeholder {
  aspect-ratio: 1 / 1;
  background: #f2f2f2;
}
