/* ========== Base ========== */
.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

:root {
  --font-family-shippori-mincho: "Shippori Mincho", serif;
  --font-family-marcellus: "Marcellus", serif;
  --font-family-yu-gothic: "Yu Gothic", "Yu Gothic Medium", "YuGothic", sans-serif;

  --font-color-white: rgb(255, 255, 255);
  --font-color-black: rgb(0, 0, 0);
  --font-color-gray: rgb(240, 240, 240);
  --font-color-gray2: rgb(217, 217, 217);
}

/* ========== Header ========== */
.header-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header__heading-link {
  padding: 0;
}

.header .banner__heading {
  font-family: "Shippori Mincho", serif;
  font-size: 40px;
  letter-spacing: 0.1em;
  line-height: 1.5;
}

.header__menu-item {
  padding: 0;
}

.header__menu-item span {
  letter-spacing: 0;
}

.header__inline-menu--left {
  padding-left: 12px;
  padding-right: 31px;
  padding-top: 7px;
}

.header__inline-menu--right {
  padding-left: 59px;
  padding-right: 0;
  padding-top: 7px;
}

.header .list-menu--inline {
  gap: 0 40px;
}

.list-menu--inline li {
  display: flex;
  justify-content: center;
  width: 116px;
}

.header__inline-menu a {
  color: rgb(255, 255, 255);
  font-family: var(--font-family-marcellus);
  font-size: 16px;
  line-height: 1.5;
}

/* Header icons */
.header__icons {
  gap: 0 20px;
  padding-left: 1px;
  padding-right: 0;
  padding-top: 7px;
}

.header__icon--search {
  width: 20px;
  height: 30px;
}

.header__icon--account {
  width: 18px;
  height: 30px;
}

.header__icon--cart {
  width: 23px;
  height: 30px;
}

.header__icons .svg-wrapper {
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 990px) {
  .header:not(.drawer-menu).page-width {
    padding-left: 0;
    padding-right: 0;
  }

  .header {
    display: flex;
    padding-bottom: 11px;
    padding-left: 0;
    padding-right: 0;
  }
}

/* ========== Hero ========== */
.hero {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.hero__bg {
  height: 768px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: auto;
}

.hero__bg::after {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  inset: 0;
  position: absolute;
  z-index: 1;
}

.hero__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 50%;
  margin-top: 272px;
  position: absolute;
  transform: translate(-50%, 0);
  width: 100%;
  z-index: 2;
}

.hero__content h2 {
  margin-top: 0;
  margin-bottom: 51px;
}

.hero__heading {
  display: flex;
  flex-direction: column;
}

.hero__heading span {
  color: var(--font-color-white);
  display: block;
  font-family: var(--font-family-shippori-mincho);
  font-size: 40px;
  letter-spacing: 0.1em;
  line-height: 1.5;
  text-align: center;
}

.hero__heading .comma {
  display: inline;
  letter-spacing: -0.33em;
}

.hero__heading--pc {
  display: block;
}
.hero__heading--sp {
  display: none;
}

/* Cutom Button */
.custom-btn {
  align-items: center;
  background-color: var(--font-color-white);
  color: var(--font-color-black);
  display: flex;
  font-family: var(--font-family-marcellus);
  font-size: 16px;
  height: 50px;
  letter-spacing: 0.1em;
  line-height: 1.5;
  justify-content: center;
  position: relative;
  text-decoration: none;
  width: 300px;
}

.custom-btn::after {
  background-color: var(--font-color-black);
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
  content: "";
  height: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 10px;
}

/* ========== Top Products ========== */
.top-products {
  margin-inline: auto;
  max-width: 835px;
  padding: 100px 0;
  width: 100%;
}

.top-products h2 {
  font-family: var(--font-family-marcellus);
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1;
  margin: 0 0 32px;
  text-align: center;
}

.new-products {
  margin-bottom: 100px;
}

.new-products__list,
.best-products__list {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin: 0 0 40px;
  padding: 0;
}

.new-products__button,
.best-products__button {
  display: flex;
  justify-content: center;
}

.new-products__button a,
.best-products__button a {
  border: 1px solid var(--font-color-black);
}

/* Product Card */
.product-card {
  border: 1px solid var(--font-color-gray2);
  width: 265px;
}

.product-card a {
  color: var(--font-color-black);
  text-decoration: none;
}

.product-card__image {
  line-height: 0;
}

.product-card__image img {
  aspect-ratio: 53 / 32;
  width: 100%;
}

.product-card__content {
  padding: 16px 12px 20px 20px;
}

.product-card__category {
  align-items: center;
  background-color: var(--font-color-gray);
  border-radius: 20px;
  display: flex;
  font-family: var(--font-family-yu-gothic);
  font-size: 12px;
  font-weight: 500;
  height: 22px;
  justify-content: center;
  letter-spacing: 0;
  line-height: 1.5;
  margin: 0 0 8px;
  width: 80px;
}

.product-card__content > h3 {
  font-family: var(--font-family-shippori-mincho);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1;
  margin: 0 0 8px;
}

.product-card__price .price,
.product-card__price .price-tax {
  font-family: var(--font-family-shippori-mincho);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1;
  margin: 0 0 8px;
}

/* ========== Products ========== */
.category-list__bg {
  position: relative;
}

.category-list__bg::after {
  background-color: rgba(0, 0, 0, 0.6);
  content: "";
  inset: 0;
  position: absolute;
  z-index: 1;
}

.category-list__content {
  margin-inline: auto;
  max-width: 1100px;
  padding: 80px 0;
  position: relative;
  width: 100%;
  z-index: 2;
}

.category-list__content h2 {
  color: var(--font-color-white);
  font-family: var(--font-family-marcellus);
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 1;
  margin: 0 0 40px;
  text-align: center;
}

.category-list__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 18px;
  list-style-type: none;
}

.category-list__link {
  align-items: center;
  background-color: var(--font-color-white);
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  gap: 0 18px;
  padding: 18px 24px;
  position: relative;
  text-decoration: none;
  width: 49.18%;
}

.category-list__item-image {
  line-height: 0;
}

.category-list__link h3 {
  font-family: var(--font-family-yu-gothic);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1;
  margin: 0;
}

.category-list__link::before {
  background-color: var(--font-color-black);
  content: "";
  border-radius: 50%;
  height: 24px;
  position: absolute;
  right: 24px;
  width: 24px;
}

.category-list__link::after {
  background-color: var(--font-color-white);
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
  content: "";
  height: 7.14px;
  position: absolute;
  right: 31.43px;
  width: 7.14px;
}
