/* ========== Header ========== */
.header-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header__heading-link {
  padding: 0;
}

.header .banner__heading {
  font-family: "Shippori Mincho", serif;
  font-size: 40px;
  letter-spacing: 0.1em;
  line-height: 1.5;
}

.header__menu-item {
  padding: 0;
}

.header .list-menu--inline {
  gap: 40px;
}

.header__inline-menu a {
  color: rgb(255, 255, 255);
  font-family: "Marcellus", serif;
  font-size: 16px;
  line-height: 1.5;
}

@media screen and (min-width: 990px) {
  .header:not(.drawer-menu).page-width {
    padding-left: 0;
    padding-right: 0;
  }

  .header {
    display: flex;
    padding-bottom: 11px;
    padding-left: 0;
    padding-right: 0;
  }
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}
