/* ========== Products List ========== */
.products-page__content {
  display: grid;
  gap: 0 24px;
  grid-template-columns: 296px 1fr;
  margin-inline: auto;
  max-width: 1200px;
  padding: 0 0 17px;
  width: 100%;
}

.products-page__search-input {
  border: 1px solid var(--font-color-black);
  display: flex;
  height: 46px;
  justify-content: space-between;
  margin-bottom: 40px;
  overflow: hidden;
  padding: 10px 16px;
  width: 100%;
}

.products-page__search-input input[type="search"] {
  border: none;
  font-family: var(--font-family-yu-gothic);
  font-size: 16px;
  font-weight: 500;
  height: 100%;
  letter-spacing: 0;
  outline: none;
  width: 230px;
}

.products-page__search-input input[type="search"]:focus {
  box-shadow: none;
  outline: none;
  -webkit-appearance: none;
}

.products-page__search-form input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  display: none;
}

.products-page__search-form input[type="search"]::-webkit-search-decoration {
  display: none;
}

.products-page__search-button {
  background: inherit;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: background 0.2s;
}

.products-page__search-button svg {
  height: 24px;
  width: 24px;
}

.products-page__categories h3 {
  font-family: var(--font-family-marcellus);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.25;
  margin: 0 0 20px;
  padding-left: 35px;
  position: relative;
}

.products-page__categories h3::before {
  background-color: var(--font-color-black);
  content: "";
  height: 18px;
  left: 10.5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
}

.products-page__category-list {
  display: flex;
  flex-direction: column;
  gap: 7px 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.products-page__category-item {
  align-items: center;
  border: 1px solid var(--font-color-black);
  display: flex;
  height: 56px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.products-page__category-item::after {
  background-color: var(--font-color-black);
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
  content: "";
  height: 12px;
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
}

.products-page__category-item a {
  align-items: center;
  color: var(--font-color-black);
  display: flex;
  font-family: var(--font-family-marcellus);
  font-size: 16px;
  font-weight: 400;
  height: 100%;
  justify-content: center;
  letter-spacing: 0.1em;
  line-height: 1.5;
  text-decoration: none;
  transition: background-color .4s ease;
  width: 100%;
}

.products-page__category-item a:hover {
  background-color: var(--font-color-white2);
}

.products-page__main {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 880px;
}

.products-page__list-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 88px;
  width: 100%;
}

.products-page__product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 827px;
  width: 100%;
}

.products-page__no-products {
  font-family: var(--font-family-marcellus);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5;
  margin: 25px 0 0;
  text-align: center;
  width: 100%;
}

/* Pagination */
.products-page__pagination-list {
  display: flex;
  gap: 0 7px;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.products-page__pagination-item--prev,
.products-page__pagination-item--next,
.products-page__pagination-item--num {
  font-family: var(--font-family-marcellus);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.25;
  position: relative;
}

.products-page__pagination-item--prev a,
.products-page__pagination-item--next a {
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

.products-page__pagination-item--prev a svg,
.products-page__pagination-item--next a svg {
  width: 14px;
}

.products-page__pagination-item--num {
  border: 1px solid var(--font-color-black);
  height: 20px;
  width: 23px;
}

.products-page__pagination-item--num a,
.products-page__pagination-item--num span {
  align-items: center;
  display: flex;
  justify-content: center;
}

.products-page__pagination-item--num span {
  color: var(--font-color-white);
  background-color: var(--font-color-black);
  height: 100%;
  width: 100%;
}

.products-page__pagination-item a {
  color: var(--font-color-black);
  text-decoration: none;
  height: 100%;
  transition: opacity .4s ease;
  width: 100%;
}

.products-page__pagination-item a:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1279px) {
  .products-page__content {
    gap: 0 24px;
    grid-template-columns: 345px 1fr;
    margin-inline: 60px;
    max-width: none;
    width: auto;
  }

  .products-page__search-input input[type="search"] {
    width: 100%;
  }

  .products-page__categories {
    margin: 0 auto;
  }
 
  .products-page__product-list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
  }
}

@media screen and (max-width: 1023px) {
  .products-page__content {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .products-page__aside {
    margin-bottom: 24px;
    width: auto;
  }

  .products-page__category-item {
    width: 345px;
  }
}

@media screen and (max-width: 639px) {
  .products-page__content {
    margin-inline: 15px;
    padding: 0;
  }

  .products-page__categories {
    margin: 0;
    width: 100%;
  }

  .products-page__list-wrapper {
    margin-bottom: 40px;
  }

  .products-page__product-list {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}