.faq {
  background-color: var(--font-color-gray);
}

.faq__content {
  margin-inline: auto;
  max-width: 899px;
  padding: 100px 0;
  width: 100%;
}

.faq__block {
  margin-bottom: 80px;
}

.faq__block:last-of-type {
  margin-bottom: 0;
}

.faq__block h3 {
  color: var(--font-color-black);
  font-family: var(--font-family-shippori-mincho);
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 1.458;
  margin: 0 0 40px;
  text-align: center;
}

.faq__accordion {
  list-style: none;
  margin: 0;
  padding: 0;
}

.faq__item {
  background-color: var(--font-color-white);
  margin-bottom: 30px;
}

.faq__box:last-of-type {
  margin-bottom: 0;
}

.faq__button {
  background-color: var(--font-color-white);
  border: none;
  cursor: pointer;
  display: flex;
  padding: 24px;
  transition: opacity .4s ease;
  width: 100%;
}

.faq__button:hover {
  opacity: 0.5;
}

.faq__item.is-open .faq__button {
  padding: 24px 24px 20px;
}

.faq__question h4 {
  color: var(--font-color-black);
  font-family: var(--font-family-yu-gothic);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5;
  margin: 0;
  text-align: start;
}

.faq__answer {
  display: none;
  overflow: hidden;
  padding: 0;
}

.faq__answer-inner {
  display: flex;
  padding: 0 24px 24px;
}

.faq__answer p {
  color: var(--font-color-black);
  font-family: var(--font-family-yu-gothic);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5;
  margin: 0;
}

.faq__char-question,
.faq__char-answer {
  color: var(--font-color-black);
  font-family: var(--font-family-marcellus);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.25;
  margin-right: 19px;
}

.faq__contact {
  background-color: var(--font-color-white);
}

.faq__contact-content {
  margin-inline: auto;
  max-width: 1122px;
  padding: 80px 0;
  width: 100%;
}

.faq__contact-content p {
  color: var(--font-color-black);
  font-family: var(--font-family-shippori-mincho);
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.45;
  margin: 0 0 24px;
}

.faq__contact-button {
  display: flex;
  justify-content: center;
}

.faq__contact-button a {
  border: 1px solid var(--font-color-black);
}

.faq__contact-button a:hover {
  background-color: var(--font-color-white2);
}

@media screen and (max-width: 1279px) {
  .faq__contact-content {
    margin-inline: 60px;
    max-width: none;
    width: auto;
  }
}

@media screen and (max-width: 1023px) {
  .faq__content {
    margin-inline: 60px;
    max-width: none;
    width: auto;
  }
}

@media screen and (max-width: 767px) {
  .faq__button {
    padding: 24px 40px 24px 24px;
  }

  .faq__item.is-open .faq__button {
    padding: 24px 40px 20px 24px;
  }
}

@media screen and (max-width: 639px) {
  .faq__content {
    margin-inline: 15px;
    padding: 60px 0;
  }

  .faq__block {
    margin-bottom: 40px;
  }

  .faq__block h3 {
    font-size: 20px;
    margin: 0 0 20px;
  }

  .faq__answer-inner {
    display: flex;
    padding: 0 40px 24px 24px;
  }

  .faq__item {
    margin-bottom: 10px;
  }

  .faq__contact-content {
    margin-inline: 15px;
    padding: 60px 0;
  }

  .faq__contact-content p {
    font-size: 16px;
  }
}
