/* ========== Concept ========== */
.concept__content {
  display: flex;
  gap: 0 53px;
  margin-inline: auto;
  max-width: 1200px;
  padding: 100px 0;
  width: 100%;
}

.concept__image {
  line-height: 0;
}

.concept__image img {
  aspect-ratio: 600 / 353;
  height: auto;
}

.concept__text h2 {
  font-family: var(--font-family-marcellus);
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1.25;
  margin: 0 0 12px;
}

.concept__text p {
  font-family: var(--font-family-shippori-mincho);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 2;
  margin: 0 0 24px;
}

.concept__button a {
  border: 1px solid var(--font-color-black);
}

.concept__button a:hover {
  background-color: var(--font-color-white2);
}

@media screen and (max-width: 1279px) {
  .concept__content {
    margin-inline: 60px;
    max-width: none;
    width: auto;
  }

  .concept__image img {
    width: 400px;
  }
}

@media screen and (max-width: 1023px) {
  .concept__content {
    gap: 0 24px;
  }

  .concept__image img {
    width: 345px;
  }
}

@media screen and (max-width: 767px) {
  .concept__content {
    flex-direction: column;
    gap: 24px 0;
  }

  .concept__image {
    display: flex;
    justify-content: center;
  }

  .concept__button {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 639px) {
  .concept__content {
    margin-inline: 15px;
    padding: 60px 0;
  }

  .concept__text h2 {
    font-size: 24px;
  }
}
